* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c2cec5;
    font-family: "Poppins", sans-serif;

}
.information {
    font-size: 20px;
    float: right;
    width: 70%;
    border: 6px solid rgb(73, 70, 70);
    padding: 40px;
    margin: 20px;
    margin-bottom: 1px;
    position: fixed;
    top: 0;
    right: 0; 

}
      

.professional-experience {
    font-size: 20px;
    float: right;
    width: 70%;
    border: 6px solid rgb(73, 70, 70);
    padding: 40px;
    margin: 20px;
    position: fixed;
    top: 420px;
    right: 0;   
}

.soft-skills {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 450px;
}

.technical-skills {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 30px;
}
.training {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;

}
.personal-info {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
    position: fixed;
    top: 310px;

}
img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 1px;
}
 .profile-photo {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 290px;
    height: 290px;
    border-radius: 70%;
    opacity: 1.0;
    object-fit: cover
 }

 @media screen and (max-width: 700px) {

    .information {
        display: flex;
        flex-direction: column;
        top: 920px;
        max-width: 100%;
        position: absolute;
        border: none;
        justify-content: flex-start;
        left: -35px;
        

    }
    .professional-experience {
       display: flex;
       flex-direction: column;
       left: -35px;
       top: 1950px;
       max-width: 100%;
       position: absolute;
       border: none;
       justify-content: flex-start

    }

    img {
        max-width: 20px;
        height: 20px;
    }

    .profile-photo {
        max-width: 250px;
        height: 250px;
        top: 30px;
        left: 90px;
    }
    .personal-info {
        position: absolute;
        top: 300px;
        left: 5px;
    }
    
 }

  

        

        

    
    
 